@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--spaceMono);
}

body {
  /* display: inline-block; */
}

:root {
  /* Fonts */
  --spaceMono: 'Space Mono', monospace;

  /* Primary */
  --strongCyan: hsl(172, 67%, 45%);

  /* Neutral */
  --veryDarkCyan: hsl(183, 100%, 15%);
  --darkGrayishCyan: hsl(186, 14%, 43%);
  --grayishCyan: hsl(184, 14%, 56%);
  --lightGrayishCyan: hsl(185, 41%, 84%);
  --veryLightGrayishCyan: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
}
